{% extends 'pages/base.html' %}
{% load static %}
{% load humanize %}
{% block link_tag %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock link_tag %}
{% block title %}Daily Sales{% endblock title %}

{% block content %}
<div class="container">
  <div class="card shadow-lg p-3 mb-5 bg-white rounded">
    <center style="padding-top: 1rem;"><h5 class="card-title">Daily Sales Filter</h5></center>
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-sm-4">
            <label for="rating">Rating</label>
            <input type="number" step="0.01" name="rating" min="1" max="5" value="{{ rating }}" class="form-control" id="rating" placeholder="Rating">
          </div>
          <div class="form-group col-sm-4">
            <label for="min_price">Price(min)</label>
            <input type="number" step="0.01" name="min_price" value="{{ min_price }}" class="form-control" id="min_price" placeholder="Price(min)">
          </div>
          <div class="form-group col-sm-4">
            <label for="max_price">Price(max)</label>
            <input type="number" step="0.01" name="max_price" value="{{ max_price }}" class="form-control" id="max_price" placeholder="Price(max)">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-4">
            <label for="min_tot_sales">Total Sales (min)</label>
            <input type="number" step="0.01" name="min_tot_sales" value="{{ min_tot_sales }}" class="form-control" id="min_tot_sales" placeholder="Total Sales (min)">
          </div>
          <div class="form-group col-sm-4">
            <label for="max_tot_sales">Total Sales (max)</label>
            <input type="number" step="0.01" name="max_tot_sales" value="{{ max_tot_sales }}" class="form-control" id="max_tot_sales" placeholder="Total Sales (max)">
          </div>
          <div class="form-group col-sm-4">
            <label for="log_reliability">Logistics Reliablility</label>
              {% if log_reliability == 'H' %}
              <select id="log_reliability" name="log_reliability" class="form-control">
                <option value="def">---------</option>
                <option selected="selected" value="H">Excellent</option>
                <option value="M">Average</option>
                <option value="L">Below average</option>
                <option value="U">Unknown</option>
              </select>
              {% elif log_reliability == 'M' %}
              <select id="log_reliability" name="log_reliability" class="form-control">
                <option value="def">---------</option>
                <option value="H">Excellent</option>
                <option selected="selected" value="M">Average</option>
                <option value="L">Below average</option>
                <option value="U">Unknown</option>
              </select>
              {% elif log_reliability == 'L' %}
              <select id="log_reliability" name="log_reliability" class="form-control">
                <option value="def">---------</option>
                <option value="H">Excellent</option>
                <option value="M">Average</option>
                <option selected="selected" value="L">Below average</option>
                <option value="U">Unknown</option>
              </select>
              {% elif log_reliability == 'U' %}
              <select id="log_reliability" name="log_reliability" class="form-control">
                <option value="def">---------</option>
                <option value="H">Excellent</option>
                <option value="M">Average</option>
                <option value="L">Below average</option>
                <option selected="selected" value="U">Unknown</option>
              </select>
              {% else %}
              <select id="log_reliability" name="log_reliability" class="form-control">
                <option selected="selected" value="def">---------</option>
                <option value="H">Excellent</option>
                <option value="M">Average</option>
                <option value="L">Below average</option>
                <option value="U">Unknown</option>
              </select>
              {% endif %}
            </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-3">
            <label for="min_price">Price(min)</label>
            <input type="number" name="min_price" value="{{ min_price }}" class="form-control" id="min_price" placeholder="Price(min)">
          </div>
          <div class="form-group col-sm-3">
            <label for="max_price">Price(max)</label>
            <input type="number" name="max_price" value="{{ max_price }}" class="form-control" id="max_price" placeholder="Price(max)">
          </div>
          <div class="form-group col-sm-3">
            <label for="min_daily_sale">Daily Sales(Min)</label>
            <input type="number" name="min_daily_sale" value="{{ min_daily_sale }}" class="form-control" id="min_daily_sale" placeholder="Daily Sales(Min)">
          </div>
          <div class="form-group col-sm-3">
            <label for="max_daily_sale">Daily Sales(max)</label>
            <input type="number" name="max_daily_sale" value="{{ max_daily_sale }}" class="form-control" id="max_daily_sale" placeholder="Daily Sales(max)">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm-6">
            <label for="date-range-selector">Date</label>
            <input style="padding-bottom: 0.5rem; padding-top: 0.5rem; padding-left: 1rem; width: 100%;" type="text" name="daterange" id="date-range-selector" value="01/01/2018 - 01/15/2018" />
          </div>
          <div class="form-group col-sm-6">
            <label for="sort_by">Sort By</label>
            <select id="sort_by" name="sort_by" class="form-control">
              {% if sort_by == 'rating' %}
              <option value="def">---------</option>
              <option selected="selected" value="rating">Rating</option>
              <option value="minPrice">Price</option>
              <option value="totSalesCount">Total Sales Count</option>
              <option value="date">Date</option>
              <option value="quantitySold">Daily Sale</option>
              {% elif sort_by == 'minPrice' %}
              <option value="def">---------</option>
              <option value="rating">Rating</option>
              <option selected="selected" value="minPrice">Price</option>
              <option value="totSalesCount">Total Sales Count</option>
              <option value="date">Date</option>
              <option value="quantitySold">Daily Sale</option>
              {% elif sort_by == 'totSalesCount' %}
              <option value="def">---------</option>
              <option value="rating">Rating</option>
              <option value="minPrice">Price</option>
              <option selected="selected" value="totSalesCount">Total Sales Count</option>
              <option value="date">Date</option>
              <option value="quantitySold">Daily Sale</option>
              {% elif sort_by == 'date' %}
              <option value="def">---------</option>
              <option value="rating">Rating</option>
              <option value="minPrice">Price</option>
              <option value="totSalesCount">Total Sales Count</option>
              <option selected="selected" value="date">Date</option>
              <option value="quantitySold">Daily Sale</option>
              {% elif sort_by == 'quantitySold' %}
              <option value="def">---------</option>
              <option value="rating">Rating</option>
              <option value="minPrice">Price</option>
              <option value="totSalesCount">Total Sales Count</option>
              <option value="date">Date</option>
              <option selected="selected" value="quantitySold">Daily Sale</option>
              {% else %}
              <option selected="selected" value="def">---------</option>
              <option value="rating">Rating</option>
              <option value="minPrice">Price</option>
              <option value="totSalesCount">Total Sales Count</option>
              <option value="date">Date</option>
              <option value="quantitySold">Daily Sale</option>
              {% endif %}
            </select>
          </div>
        </div>

        <button type="submit" class="btn btn-primary pull-right">Search</button>
      </form>
    </div>
  </div>
</div>
<b>


  

<div id="linechart_material"></div>
<center><h1>Total: {{ tot }}</h1></center>
<br>
<div class="card shadow-lg p-3 mb-5 bg-white rounded">
  <table style="margin: 1rem;" class="table table-hover">
      <tr>
        <th>Quantity Sold</th>
        <th>Date</th>
        <th>Rating</th>
        <th>Price (min)</th>
        <th>Price (max)</th>
        <th>Total Sales Count</th>
        <th>Logistics Reliability</th> 
        <th>Product</th>  
        <th>Daily Sales Graph</th>
      </tr>
      {% for i in filtered %}
      <tr>
        <td>{{i.quantitySold}}</td>
        <td>{{i.date}}</td>
        <td>{{i.product.rating}}</td>
        <td>${{i.product.minPrice}}</td>
        <td>${{i.product.maxPrice}}</td>
        <td>{{i.product.totSalesCount}}</td>
        <td>{{i.product.logisticsReliability}}</td>
        <td><a href="https://www.aliexpress.com/item/{{i.product.productId}}.html" target="_blank">{{i.product.productTitle|truncatechars:35}}</a></td>
        <td>Graph</td>
      </tr>
      {% endfor %}
    </table>

</div>
  <br>  
  <br> 
{% endblock content %}

{% block script_tag %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<script>
  let sd = ''
  let ed = ''
  if(`{{staring_date}}` != ''){
    sd = `{{staring_date}}`
  } else {
    sd = [moment().subtract(1, 'days'), moment().subtract(1, 'days')][0].format('YYYY-MM-DD')
  }

  if(`{{end_date}}` != ''){
    ed = `{{end_date}}`
  } else {
    ed = [moment()][0].format('YYYY-MM-DD')
  }
  
  $('#date-range-selector').daterangepicker({
    ranges: {
        'Today': [moment(), moment()],
        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
        'This Month': [moment().startOf('month'), moment().endOf('month')],
        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
    },
    "alwaysShowCalendars": true,
    "startDate": sd,
    "endDate": ed,
    'locale': {
      format: 'YYYY-MM-DD'
    }
});

  </script>
{% endblock script_tag %}
