{% load humanize %}
<html>
  <head>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    <b>
      <a href="/">Dashboard</a>
    </b>
    <form method="post">
      {% csrf_token %}
      <ul>
        <li>
          Min AVG Daily Sale : <input type="number" name="min_avg_daily_sale" value="{{ min_avg_daily_sale }}" required>
          <button type="submit">Submit</button>
        </li>
      </ul>
      <h1>Tot: {{ tot }}</h1>
      <br>
    </form>
    <table>
      <tr>
        <th>AVG Daily Rev</th>
        <th>COG(min)</th>
        <th>COG(max)</th>
        <th>Shipping Price</th>
        <th>Shipping Duration</th>
        <th>Ratting</th>
        <th>LR</th>
        <th>AVG Daily Sale</th>
        <th>Product</th>
        <th>URL</th>
      </tr>
      {% for product in products %}
      <tr>
        <td>${{product.nums|intcomma}}</td>
        <td>${{product.minPrice}}</td>
        <td>${{product.maxPrice}}</td>
        <td>${{product.shippingPrice}}</td>
        <td>{{product.estimatedDeliveryDayMin}} - {{product.estimatedDeliveryDayMax}} Days</td>
        <td>{{product.rating}}</td>
        <td>{{product.logisticsReliability}}</td>
        <td>{{product.avgDailySale}} Units</td>
        <td><a href="https://www.aliexpress.com/item/{{product.productId}}.html" target="_blank">{{product.productTitle}}</a></td>
        <td>https://www.aliexpress.com/item/{{product.productId}}.html</td>
      </tr>
        {% endfor %}
    </table>
  </body>
</html>
