{% extends 'pages/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}VV Products{% endblock title %}
{% block link_tag %}
<style>
img video {
    max-width:464px;
    max-height:480px;
    width:auto;
    height:auto;
}
/* .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
.infbtn {
    background-color: rgb(232, 236, 231);
    border: none;
    color: rgb(31, 27, 27);
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: RoyalBlue;
} */
</style>
{% endblock link_tag %}
{% block content %}
<div class="container"> 
  <div class="card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-sm-4">
            <label for="srt_by">Sort By</label>
              {% if srt_by == 'cogs' %}
              <select id="srt_by" name="srt_by" class="form-control">
                <option value="def">---------</option>
                <option selected="selected" value="cogs">COGS</option>
                <option value="price">Price</option>
                <option value="profit">Profit</option>
                <option value="likes">Likes</option>
                <option value="comments">Comments</option>
                <option value="redirects">Shares</option>
              </select>
              {% elif srt_by == 'price' %}
              <select id="srt_by" name="srt_by" class="form-control">
                <option value="def">---------</option>
                <option value="cogs">COGS</option>
                <option selected="selected" value="price">Price</option>
                <option value="profit">Profit</option>
                <option value="likes">Likes</option>
                <option value="comments">Comments</option>
                <option value="redirects">Shares</option>
              </select>
              {% elif srt_by == 'profit' %}
              <select id="srt_by" name="srt_by" class="form-control">
                <option value="def">---------</option>
                <option value="cogs">COGS</option>
                <option value="price">Price</option>
                <option selected="selected" value="profit">Profit</option>
                <option value="likes">Likes</option>
                <option value="comments">Comments</option>
                <option value="redirects">Shares</option>
              </select>
              {% elif srt_by == 'likes' %}
              <select id="srt_by" name="srt_by" class="form-control">
                <option value="def">---------</option>
                <option value="cogs">COGS</option>
                <option value="price">Price</option>
                <option value="profit">Profit</option>
                <option selected="selected" value="likes">Likes</option>
                <option value="comments">Comments</option>
                <option value="redirects">Shares</option>
              </select>
              {% elif srt_by == 'comments' %}
              <select id="srt_by" name="srt_by" class="form-control">
                <option value="def">---------</option>
                <option value="cogs">COGS</option>
                <option value="price">Price</option>
                <option value="profit">Profit</option>
                <option value="likes">Likes</option>
                <option selected="selected" value="comments">Comments</option>
                <option value="redirects">Shares</option>
              </select>
              {% elif srt_by == 'redirects' %}
              <select id="srt_by" name="srt_by" class="form-control">
                <option value="def">---------</option>
                <option value="cogs">COGS</option>
                <option value="price">Price</option>
                <option value="profit">Profit</option>
                <option value="likes">Likes</option>
                <option value="comments">Comments</option>
                <option selected="selected" value="redirects">Shares</option>
              </select>
              {% else %}
              <select id="srt_by" name="srt_by" class="form-control">
                <option selected="selected"  value="def">---------</option>
                <option value="cogs">COGS</option>
                <option value="price">Price</option>
                <option value="profit">Profit</option>
                <option value="likes">Likes</option>
                <option value="comments">Comments</option>
                <option value="redirects">Shares</option>
              </select>
              {% endif %}
            </div>
        </div>

      </form>
    </div>
  </div>
    <div class="row">
        {% for product in products %}
        <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="margin-bottom: 2em;">
                  <div>
                    {% if product.is_fav %}
                      <i id="{{product.pk}}" onclick="fav(`{{product.pk}}`)" class="fa fa-heart"></i>
                    {% else %}
                      <i id="{{product.pk}}" onclick="fav(`{{product.pk}}`)" class="fa fa-heart-o"></i>
                    {% endif %}
                  </div>
                  <div><button class="btn btn-lg"></button></div>
                    <p style="padding-left: 1rem; padding-top: 1rem;">{{product.title}}</p>
                    <a href="/vv-product/{{product.pk}}/" target="_blank"><img class="card-img-top" src="{{product.product_image}}" alt="Card image" style="width:100%"></a>
                    <div class="card-body">
                        <button style="margin-bottom: 1rem;" class="btn"><i class="fa fa-thumbs-o-up"></i> {{product.likes|floatformat:0|intcomma}}</button>
                        <button style="margin-bottom: 1rem;" class="btn"><i class="fa fa-comment-o"></i> {{product.comments|floatformat:0|intcomma}}</button>
                        <button style="margin-bottom: 1rem;" class="btn"><i class="fa fa-share-alt"></i> {{product.redirects|floatformat:0|intcomma}}</button>
                        <button style="margin-bottom: 1rem;" class="infbtn">COGS | ${{product.cogs}}</button>
                        <button style="margin-bottom: 1rem;" class="infbtn">Price | ${{product.price}}</button>
                        <button style="margin-bottom: 1rem;" class="infbtn">Profit | ${{product.profit}}</button>
                    </div>
                </div>
        </div>
        {% endfor %}
    </div>
    <center>
      <br>
      <br>
    </center>


    {% if products.has_other_pages %}
    <nav>
      <ul class="pagination justify-content-center">
        {% if products.has_previous %}
        <li class="page-item "><a class="page-link" href="?page=1&srt_by={{srt_by}}"><<</a></li>
       <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}&srt_by={{srt_by}}">Previous</a></li>
      {% else %}
      <li class="page-item disabled"><a class="page-link" href="?page=1&srt_by={{srt_by}}"><<</a></li>
        <li class="page-item disabled"><a class="page-link">Previous</a></li>
      {% endif %}
      {% for i in products.paginator.page_range %}
      
        {% if i <= products.number|add:9 and i >= products.number|add:-9 %}
        {% if products.number == i %}
        <li class="page-item active"><a class="page-link" href="#"><span>{{ i }} <span class="sr-only">(current)</span></span></a></li>
        {% else %}
        <li  class="page-item" ><a class="page-link" href="?page={{forloop.counter}}&srt_by={{srt_by}}">{{forloop.counter}}</a></li>
        {% endif %}
        {% endif %}

        
      {% endfor %}
      {% if products.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{products.paginator.num_pages}}&srt_by={{srt_by}}">>></a></li>
        <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}&srt_by={{srt_by}}">Next</a></li>
      {% else %}
      <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
      <li class="page-item disabled"><a class="page-link" href="?page={{products.paginator.num_pages}}&srt_by={{srt_by}}">>></a></li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>
{% endblock content %}

{% block script_tag %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  $("#srt_by").change(function () {
      srt_by = $(this).val()
      base_url = window.location;
      pg = base_url.search.split('&')[0]
      url = base_url.origin + '/vv-product/all/' + pg + '&srt_by=' + srt_by
      window.open(url,"_self")
  });
</script>

<script>
  function fav(pk){
    tt = $( "#"+pk )
    isfav = 'False'
    if (tt.hasClass('fa-heart-o')) {
        tt.removeClass('fa-heart-o');
        tt.addClass('fa-heart');
        isfav = 'True'
    } else {
        tt.removeClass('fa-heart');
        tt.addClass('fa-heart-o');
        isfav = 'False'
    }

    base_url = window.location.origin;
    url = base_url + '/vv-product/fav/'+pk+'/'+isfav+'/'
    $.get(url, function(data, status){
      console.log("Data: " + data + "\nStatus: " + status);
    });
  }
</script>
{% endblock script_tag %}