  
{% extends 'pages/base.html' %}
{% load static %}
{% load humanize %}
{% load emoji_tags %}
{% block title %}{{product.title|safe}}{% endblock title %}
{% block link_tag %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
img video {
    max-width:464px;
    max-height:480px;
    width:auto;
    height:auto;
}
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
.infbtn {
    background-color: rgb(232, 236, 231);
    border: none;
    color: rgb(31, 27, 27);
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}
</style>
{% endblock link_tag %}

{% block content %}
<div class="container">
    <br>
    <h1><center>{{product.title}}</center></h1>
    <br>
    
    <div class="card" style="margin-bottom: 2em;">
        <p style="padding-left: 1rem; padding-top: 1rem;">{{product.title}}</p>
        <a href="/vv-product/{{product.pk}}/" target="_blank"><img class="card-img-top" src="{{product.product_image}}" alt="Card image" style="width:100%"></a>
        <div class="card-body">
            <button style="margin-bottom: 1rem;" class="btn"><i class="fa fa-thumbs-o-up"></i> {{product.likes|floatformat:0|intcomma}}</button>
            <button style="margin-bottom: 1rem;" class="btn"><i class="fa fa-comment-o"></i> {{product.comments|floatformat:0|intcomma}}</button>
            <button style="margin-bottom: 1rem;" class="btn"><i class="fa fa-share-alt"></i> {{product.redirects|floatformat:0|intcomma}}</button>
            <button style="margin-bottom: 1rem;" class="infbtn">COGS | ${{product.cogs}}</button>
            <button style="margin-bottom: 1rem;" class="infbtn">Price | ${{product.price}}</button>
            <button style="margin-bottom: 1rem;" class="infbtn">Profit | ${{product.profit}}</button>
        </div>
    </div>
</div>
{% endblock content %}